{% extends "main.html" %}
{% block content %}
  <div class="row">
    <div class="col-md-12">
      <h2 class="list-title">
        {{item.title}}
        {% if current_user_id == item.user_id %}
        <a class="list-item" href="{{url_for('editItem',item_id=item.item_id)}}">Edit</a>
        <span class="line">|</span>
        <a class="list-item" href="{{url_for('deleteItem',item_id=item.item_id)}}">Delete</a>
        {% endif %}
      </h2>
      <div>
        <p>
          {{item.description}}
        </p>
      </div>
    </div>
  </div>
{% endblock %}
